<body class="cartitemshowbody">
<p id="notice"><%= notice %></p>

<div class="cartitemshowtext">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Wedding Dress</h5>
<p class="card-text">
  <strong>Quantity:</strong>
  <%= @cart_item.quantity %>
</p>
</div>
<img src="<%= image_url @cart_item.product.image_url %>" class="card-img-top" alt="...">
</div>
<!--<p>

  <%= image_tag(@cart_item.product.image_url) %>

  </p>-->


</div>


</body>