
.nav-item{
	font-size: 20px;

}
.navheading{
	color: white;
}
a:hover{
	background-color:#CCD238;

}
.searchbar{
	float: right;
}
#navheading{
	font-size: 20px;
}
//register
.registerheading{
	font-family: 'Bellota', cursive;
	color: #CCD238;
	font-size: 50px;
	text-align: center;
}
.registerbody{
	background-color:#F9F8EA;
}
.registerform{
	display: flex;
	justify-content: center;
}
.logintag{
	display: flex;
	justify-content: center;
	font-size: 30px;
	padding-right: 80px;
	font-family: 'Bellota', cursive;
	color: #CCD238;
}
.loginheading{
	font-family: 'Bellota', cursive;
	color: #CCD238;
	font-size: 50px;
	text-align: center;
}
.loginbody{
	background-color:#F9F8EA;
}
.loginform{
	display: flex;
	justify-content: center;
}
.registertag{
	display: flex;
	justify-content: center;
	font-size: 30px;
	padding-right: 80px;
	font-family: 'Bellota', cursive;
	color: #CCD238;
	padding-left: 10px;
}


.butn{
	padding-left:40px;
}
.buttn{

	font-family: 'Bellota', cursive;
	color: #CCD238;
	border-style: none;
	padding:10px;
	font-size: 20px;

}