// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.productbody{
	background-color: #F9F8EA;
}
.producttitle{
	font-family: 'MuseoModerno', cursive;
	color:#CCD238;
	text-align:center;
	font-size: 60px;
}
.productsearchbutton{
	background-color:#CCD238;
	border-style: none;
	color: white;
	padding: 7px;
	border-radius: 5px;
	font-size: 20px;
}
.productpics{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
//show
.productshowbody{
	background-color: #F9F8EA;
}
.productshowtext{
	display: flex;
	justify-content:  center;
}
.card-header{
	text-align: center;
	font-family: 'Bellota', cursive;
	color: #CCD238;
	font-weight: bolder;
	font-size: 20px;
}
.cartsubmit{
	display: flex;
	justify-content: center;

}
.button{
	background-color:yellow;
}
.card-text{
	font-family: 'Bellota', cursive;
	color: #CCD238;
	font-size: 20px;
}
.field{
	font-family: 'Bellota', cursive;
	color: #CCD238;
	font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}