<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<p>
  <% @category.product.each do |product| %>

        <td><%= image_tag product.image_url%></td>

    <% end %>

</p>



<%= link_to 'Back', root_path %>