<p id="notice"><%= notice %></p>
<body class="categoryshowbody">
	<div class="container">
		<p class="categoryshowtext">
  		<strong>Category:</strong>
 			 	<%= @category.name %>
		</p>
		<p class="categoryshowproduct">
  		<% @category.product.each do |product| %>
        <td><%= image_tag product.image_url%></td>
    	<% end %>
		</p>
	</div>
</body>