<p id="notice"><%= notice %></p>
<body class="categoryshowbody">
	<div class="container">
		<p class="categoryshowtext">
  		<strong>Category:</strong>
 			 	<%= @category.name %>
		</p>
		<p class="categoryshowproduct">
  		<% @category.product.each do |product| %>
        <td><%= link_to image_tag( product.image_url) , product_path(product) %></td>
    	<% end %>
		</p>
	</div>
</body>